*.npy
build/
app
*.o
Serial/serial
Serial/build/
Instruments.Profile
Instruments.Profile/
Instruments.Profile.trace/
output_images/
tmp/
__pycache__/phasecreator.cpython-310.pyc
__pycache__/
tensor.pt
debug_image.png
2025_08*/
2025_09*/
2025_10*/
2025_11*/
2025_12*/
Checkpoints/*
plm_test
sync_test
items/
